<html>
    <head>
        <title>Deberia Generar </title>

            <script src="../static/js/Genera.js"> </script>
            <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>
        
        
    </head>   
    <body>
        <form>
            <input id="Fecha" name="Fecha" placeholder="YYYY-MM-DD">
            <input id="Tienda" name="Tienda" placeholder="numero">

            <button id="Genera" type ="submit">Generar</button>

        </form>        
    </body>    


</html>