<html>
    <head>
        <title>Deberia Generar </title>
        <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">

            <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>        
            <script src="../static/js/Genera.js"> </script> 
        
    </head>   
    <body>
        <form>
            <small class="form-text text-danger mb-2">
                <p id="m_invalido"></p>
              </small>
  
            <input id="Fecha" name="Fecha" placeholder="YYYY-MM-DD">
            <input id="Tienda" name="Tienda" placeholder="numero">

            <button id="Genera" type ="submit">Generar</button>

        </form>        
    </body>    


</html>