<!doctype html>
<html>
<head>
    
    <title>UCABMART</title>

    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link href="../static/css/inicio.css" rel="stylesheet">        
    <link href="../static/css/itemlist.css" rel="stylesheet">       

    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>  
    <script src="../static/js/control_entrada.js"></script>    
    <script src="../static/js/inicio.js"></script> 
    

</head>

<body>

   

    <div class="container" id="PANEL">
        <div class="row">
          <div class="col">  

                <a href="../"><img  type="imagen" id="logo" src="../static/media/UCABMART6.png" > </a> 

          </div>

          <div class="col-6">

            <div class="input-group buscador">
              <input type="text" id="buscar" class="form-control" placeholder="BUSCAR" >
              <div class="input-group-append">
              <button class="btn btn-primary" id="buscarbtn" type="button">IR</button>
            </div>

          </div>

          </div>

          <div class="col">

          <select id="selectpriv" name="selectpriv" class="custom-select browser-default">
              <option value="" selected disabled>MENU</option>
          </select>

          </div>
        </div>
       
  


   


    <div id="itempanel">     

        <ul>

            <!--LISTA DE PRODUCTO-->
    
        </ul>

    </div>
    
   

</body>    

</html>