<!doctype html>
<html>
<head>
    
    <title>UCABMART</title>

    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link href="../static/css/inicio.css" rel="stylesheet">        
    <link href="../static/css/itemlist.css" rel="stylesheet">       

    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>  
    <script src="../static/js/control_entrada.js"></script>    
    <script src="../static/js/inicio.js"></script> 
    

</head>

<body>

    <h1>Bienvenido a UCABMART</h1>
    <div class="text-center abajo"  >
        <a href="../templates/UCABMART.html"><img  type="imagen" id="logo" src="../static/media/UCABMART6.png" > </a>
    </div>

    <button id="iniciar_sesion" class="btn mr-2 rounded" , type="button">algo</button>
    <button id="cerrar_sesion" class="btn mr-2 rounded" , type="button">algo</button>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>


    <select id="selectpriv" name="selectpriv" class="custom-select browser-default">
        <option value="" selected disabled>MENU</option>
    </select>  


    <div id="itempanel">     

        <ul >

            <!--LISTA DE PRODUCTO-->
    
        </ul>

    </div>
    
   

</body>    

</html>