<!doctype html>
<html>
<head>
    
    <title>UCABMART</title>

    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link href="../static/css/inicio_sesion.css" rel="stylesheet">        
    

    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>      
    <script src="../static/js/inicio.js"></script>

    
</head>

<body>

    <h1>Bienvenido a UCABMART</h1>
    <button id="iniciar_sesion" class="btn mr-2 rounded" , type="button">Iniciar Sesion</button>
    <button id="cerrar_sesion" class="btn mr-2 rounded" , type="button">Cerrar Sesion</button>

</body>    

</html>