<!DOCTYPE html>

  <head>
    
    <title>UCABMART</title>
 
   
    <link rel="stylesheet"type="text/css" href="../static/css/bootstrap-4.0.0-dist/css/bootstrap.css">

    <link href="../static/css/inicio_sesion.css" rel="stylesheet">
  
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/inicio_sesion.js"></script>

       
  </head>
 
  <body>
 
  
      
      <div class="header">
        <h3 class="text-muted text-center">UCABMART</h3>
      </div>
    
 

      <div class="text-center border border-light p-5">

          <p class="h4 mb-4">Login</p>
          
          <form>

            <input type="email" id="inputCorreo" name="inputCorreo" class="form-control mb-2" placeholder="Correo Electronico" required autofocus>
            
            <input type="password" id="inputContraseña" name="inputContraseña" class="form-control mb-2" placeholder="Contraseña" required autofocus>

            <small id="error-mensaje" class="form-text text-muted mb-2">
              <p id="error"></p>
            </small>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button> 
          
            <button id="btnRegistro" class="btn btn-lg btn-outline-secondary btn-block" type="button">Crear Cuenta</button>


          </form>

          
        
      </div>


   
   
  
    
    <footer class="text-right text-muted px-5 mb-5">UCABMART 2020</footer>
 
  </body>

 

</html>
