<!DOCTYPE html>

  <head>
    
    <title>UCABMART</title>
 
    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">

    <link href="../static/css/inicio_sesion.css" rel="stylesheet">
   
    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>
    <script src="../static/js/inicio_sesion.js"></script>
    <meta charset="utf-8">    

       
  </head>
 
  <body >    
 

      <div>
       
           
          <form>

            <div class="text-center abajo"  >
              <a href="../"><img  type="imagen" id="logo" src="../static/media/UCABMART6.png" > </a>
      
            </div>
          

            <p class="h4 mb-5 abajo">Login</p>        

            <input type="email" id="inputcorreo" name="inputcorreo" class="form-control mb-2" placeholder="Correo Electronico" required autofocus>
            
            <input type="password" id="inputcontrasena" name="inputcontrasena" class="form-control mb-2" placeholder="Contraseña" required autofocus>

            <small class="form-text text-danger mb-2">
              <p id="m_invalido"></p>
            </small>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button> 
          
            <button id="btnRegistro" class="btn btn-lg btn-outline-secondary btn-block" type="button">Crear Cuenta</button>

            <footer id="Ucab" class="text-center text-muted mt-5">UCABMART 2020-2021</footer>

          </form>        
        
      </div>


   
   
  
    
   
  </body>

 

</html>
