<!DOCTYPE html>
<html>
    <head>
      <title>Modificar perfil</title> 
      <meta charset="utf-8">   
      <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">

      <link rel="stylesheet" href="../static/css/Modificar Perfil jurifico.css">
      <script src="../static/js/inicio_sesion.js"></script>  
        
    </head>   
    <body>

      <div id="fondo1">
        <a href="../templates/UCABMART.html"><img  type="imagen" id="logo" src="../templates/Media/UCABMART6.png" > </a>

        <div class="linea">

            <div id="fondo2">

                <div id="espacio"></div> <!--Demasiado chimbo esto, separa el cuadro rojo del blanco-->
                
                 <div id="fondo3" class="form-group">


                    <div id="margen" class="form-group">

                        <h2> Datos de Perfil </h2>

                          <button id="Editar" class="btn btn-lg btn-secondary" type="button"> Modificar datos </button>

                          <button id="Editar" class="btn btn-lg btn-primary" type="button"> Emitir Carnet </button>    

                          <div id="Margen-campos">

                          </div>
                    </div>
                 </div>
               </div>
            </div>
      </div> 
                     
        

    </body>
</html>