<html>

    <head>
        
        <title>UCABMART</title>
        <link rel="stylesheet" type="text/css" href="../static/css/Modificar Perfil natural.css">
        <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">

        <script 
        src="../static/js/jquery-1.11.2.js">   
        </script>

    <meta charset="utf-8">

    </head>

    <body>

        <div id="fondo1">
            <a href="../templates/UCABMART.html"><img  type="imagen" id="logo" src="../templates/Media/UCABMART6.png" > </a>

            <div class="linea">

                <div id="fondo2">

                    <div id="espacio"></div> <!--Demasiado chimbo esto, separa el cuadro rojo del blanco-->
                    
                     <div id="fondo3" class="form-group">
    
    
                        <div id="margen" class="form-group">

                            <h2> Datos de Perfil </h2>

                            <button id="Editar" class="btn btn-lg btn-secondary" type="button"> Modificar datos </button>
    
                            <button id="Editar" class="btn btn-lg btn-primary" type="button"> Emitir Carnet </button>    

                            <div id="Margen-campos">

                            <h4 id="Cedula"> Cedula </h4>

                            <input id="inputcedula" name= "inputcedula" class="form-control" placeholder ="Cédula" type="tlf"  minlength="6" maxlength="9" disabled value="basedatos_cedula">         
                           

                            <output type="text"> </output>

                            <h4 id="Telefono"> Telefonos </h4>

                            <h4 id="cedula"> cedula </h4>
                            

                            <h4> Apellidos </h4>

                            <h4> Correo</h4>

                            <h4> Contraseña </h4>

                            <img id="" src="seguridad">

                            <h4> RIF </h4>

                            <h4> Dirección de Envío </h4>

                            </div>

                         </div>

                     </div>    

                    </div> 
            </div>

        </div>    

    </body>
    
</html>