<!DOCTYPE html>

<html>

<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>Zona</title>


    <link rel="stylesheet"type="text/css" href="../static/css/bootstrap-4.0.0-dist/css/bootstrap.css">

    <link rel="stylesheet"type="text/css" href="../static/css/datatables/css/jquery.dataTables.css">



    <script src="../static/js/jquery-1.11.2.js"></script>
    
    <script src="../static/js/mostrar_clientes.js"></script>

    <script src="../static/css/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/css/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script src="../static/css/datatables/js/jquery.dataTables.js"></script>
   



    
  
</head>
<body class="dt-example">
	<div class="container">
		<section>
			
			<div class="demo-html">
                
                <button id="boton_eliminar">Delete selected row</button>
            
            </div>
			<table id="tabla_datatable" class="display" style="width:100%">
                
              
                

			</table>
			
			
		</section>
	</div>
	
</body>
</html>