<html>

    <head>
        
        <title>UCABMART</title>
        
        <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
        <link rel="stylesheet"type="text/css" href="../static/add_ons/datatables/css/jquery.dataTables.css">
        
        <link href="../static/css/perfil_natural.css" rel="stylesheet" type="text/css" >

        <link href="../static/css/mostrar_embedded.css" rel="stylesheet" type="text/css" >




        <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>   
        <script src="../static/add_ons/datatables/js/jquery.dataTables.min.js"></script>
        <script src="../static/add_ons/datatables/js/jquery.dataTables.js"></script>   
        <script src="../static/add_ons/datatables/js/dataTables.bootstrap4.min.js"></script>


        
        <script src="../static/js/perfil_natural.js"></script>

        <script src="../static/js/metodos_pago.js"></script>

       
        <meta charset="utf-8">

    </head>

    <body>

        <div id="fondo1">

            <a href="../"><img type="image" id="logo" src="../static/media/UCABMART6.png"></a>

            <div class="linea"></div>

            <div id="loading">
                <img id="loading-image" src="../static/media/loading.gif" alt="Loading..." />
            </div>

            <div id="fondo2">

                <form>
                    

                    <div id="espacio"></div> <!--Demasiado chimbo esto, separa el cuadro rojo del blanco-->
                
                    <div id="fondo3" class="form-group">
                        
                        <div id="margen" class="form-group">

                            <h2> Datos de Perfil </h2>
                            <button id="Modificar" class="btn btn-lg btn-secondary" type="button"> Modificar datos </button>

                            <button id="Carnet" class="btn btn-lg btn-primary" type="button"> Emitir Carnet </button> 
                            
                            <button id="Cancelar" class="btn btn-lg btn-secondary" type="button" style = "display: none;">  Cancelar Modificación </button>

                            <button id="Confirmar" class="btn btn-lg btn-primary" type="submit" style = "display: none;" disabled>  Confirmar Modificación </button>

                                                    
                            <div id="Margen-campos">


                                <h4 id="IDENTIFICADOR"></h4>
                            
                                <h4> Usuario </h4>    
                            
                                <input id="id_user" name= "id_user" class="form-control"  disabled>

                                <h4 id="cedula"> Cedula </h4>
                            

                                <input id="inputcedula" name= "inputcedula" class="form-control" placeholder ="Cédula" type="tlf"  minlength="6" maxlength="9" disabled autofocus>    
                                        
                            
                                <h4 id="Telefono"> Telefonos </h4>
                    
                                <input id="inputtelefono" name= "inputtelefono" class="form-control" type="tel" placeholder="Teléfono 1(Obligatorio)" minlength="7" maxlength="11" disabled autofocus>

                                <div class="form-group" id="tipotlf1"> 
                
                                    <select name="tipotlf1" id="tipotlf1" class="custom-select browser-default"  autofocus>
                                        <option value="" selected disabled>TIPO</option>
                                        <option value="CASA">CASA</option>                            
                                        <option value="OFICINA">OFICINA</option>   
                                        <option value="CELULAR">CELULAR</option>  
                                        
                                    </select>  
                
                                </div>

                                <input  id="inputtelefono2" name="inputtelefono2" class="form-control" type="tel" placeholder="Teléfono 2 (Opcional)" minlength="7" maxlength="11" disabled autofocus> 

                                <div class="form-group" id="tipotlf2"> 
                
                                    <select name="tipotlf2" id="tipotlf2" class="custom-select browser-default"  autofocus>
                                        <option value="" selected disabled>TIPO</option>
                                        <option value="CASA">CASA</option>                            
                                        <option value="OFICINA">OFICINA</option>   
                                        <option value="CELULAR">CELULAR</option>  
                                        
                                    </select>  
                
                                </div>

                                <input id="inputtelefono3" name="inputtelefono3" class="form-control" type="tel" placeholder="Telefono 3 (Opcional)" minlength="7" maxlength="11" disabled autofocus> 
        
                                <div class="form-group" id="tipotlf3"> 
                
                                    <select name="tipotlf3" id="tipotlf3" class="custom-select browser-default"  autofocus>
                                        <option value="" selected disabled>TIPO</option>
                                        <option value="CASA">CASA</option>                            
                                        <option value="OFICINA">OFICINA</option>   
                                        <option value="CELULAR">CELULAR</option>  
                                        
                                    </select>  
                    
                                </div>

                                <input id="tlfcodigo" name="tlfcodigo" class = "form-control" >
                                <input id="tlfcodigo2" name="tlfcodigo2" class = "form-control" >
                                <input id="tlfcodigo3" name="tlfcodigo3" class = "form-control" >

                                <div id="Alinear">  <!-- Alinea todo desde nombre hasta direcciion-->

                                <h4> Nombres </h4>                           
                                                        
                                <input id="inputpnombre" name="inputpnombre" class="form-control" type="text" placeholder ="Primer Nombre" required disabled autofocus>   
        
                                <input id="inputsnombre" name="inputsnombre" class="form-control" type="text" placeholder ="Segundo Nombre" disabled autofocus>   


                                <h4 id="Apellido"> Apellidos</h4>

                                <input id="inputpapellido" name="inputpapellido" class="form-control" type="text" placeholder="Primer Apellido" disabled required autofocus> 
        
                                <input id="inputsapellido" name="inputsapellido" class="form-control" type="text" placeholder="Segundo Apellido" disabled autofocus > 
        

                                
                                <h4 id="tienda-registro"> Tienda Registro</h4>
            
                                <input id="tiendaregistro" name="tiendaregistro" class="form-control" disabled> 


                                <h4 id="correo"> Correo </h4>                            
        
                                <input id="inputcorreo" name="inputcorreo" class="form-control" type="email" 
                                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" 
                                placeholder="Correo Electrónico" disabled autofocus>
        
                                <div id="contraseña">    <h4 > Contraseña </h4>  
        
                                <input id="inputcont" name="inputcont" class="form-control" type="text"  placeholder="Contraseña" minlength="8" maxlength="16" required disabled autofocus>

                            
                                </div>

                                <div id="rif">    <h4 > Rif </h4>  

                                <input id="inputrif" name="inputrif" class="form-control" type="text" placeholder="RIF" pattern="[A-Z]{1}[0-9]{9}" maxlength="10" disabled  > 

                                </div>
                                
                                <div id="Combo-boxes">
                                
                                    <h4>Dirección de Habitación </h4>
                            
                                    <div class="form-group" id="Estado"> 

                                        <select id="selectestado" name="selectestado" class="custom-select browser-default" disabled autofocus required>
                                            <option value="" selected disabled>ESTADO</option>
                                            <option value="0">opcion</option>
                                        </select>  
                    
                                    </div> 
                            
                                    <div class="form-group" id="Municipio"> 
                    
                                        <select name="selectmunicipio" id="selectmunicipio" class="custom-select browser-default" disabled autofocus required>
                                            <option value="" selected disabled>MUNICIPIO</option>
                                            <option value="1">opcion</option>                            
                                        
                                        </select>  
                    
                                    </div>
                    
                                    <div class="form-group" id="Parroquia"> 
                    
                                        <select name="selectparroquia" id="selectparroquia" class="custom-select browser-default" disabled required>
                                            <option value="default" selected disabled>PARROQUIA</option>
                                            <option value="2">opcion</option>                            
                                        </select>  
                    
                                    </div> 
                    
                                    <input id="inputdir" name="inputdir" class="form-control" type="text" placeholder="Direccion" required disabled autofocus> 

                            
                                </div>    
                            



                                <div id="tabla3">
                
                                    <h3 class="text-center">Metodos de Pago</h3>
                                
                                    
                                    <table id="tabla_datatable" ></table>

                                    <h12 style="top: 10px; padding-bottom: 10px;"> 1: Tarjeta Credito . 2: Tarjeta Debito </h12>
                                            
                                    <h1 text=" " ></h1>

                                    <div class="btn-group btn-block">
                                    
                                            <button id="boton_añadir" class="btn btn-primary btn-block mr-2 rounded customb" , type="button">Añadir</button>
                                

                                            <!--                                               
                                            <button id="boton_modificar" class="btn btn-secondary btn-block rounded" , type="button">Modificar</button> -->
        
        
                                            <button id="boton_eliminar" class="btn btn-danger btn-block ml-2 rounded" , type="button">Eliminar</button>
                    
                                          

                                    </div>

                                    <div class="form-group tamaño " id="tipo"> 
                        
                                        <select name="selecttipo" id="selecttipo" class="custom-select browser-default" >
        
                                            <option value="default" selected disabled>Tipos</option>      
        
                                        </select>  
                                
                                    </div> 


                                    <input id="inputdocmt" name="inputdocumt" class="form-control tamaño" type="text" placeholder="N° Documento"  > 
                   
                                    <button id="boton_añadir2" class="btn btn-secondary btn-block rounded customb" type="button">Añadir</button>
                    
                                </div>




                                

                                </div>

                            </div>  
                        


                      

                        </div> 
                    
                    </div>

                </form>



            </div>

            
        </div>   


        

    </body>
    
    

</html>