<html>

<head>
    
    <title>UCABMART</title>
    
    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link rel="stylesheet"type="text/css" href="../static/add_ons/datatables/css/jquery.dataTables.css">
    
    <link href="../static/css/perfil_horario.css" rel="stylesheet" type="text/css" >



    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>   
    <script src="../static/add_ons/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../static/add_ons/datatables/js/jquery.dataTables.js"></script>   
    <script src="../static/add_ons/datatables/js/dataTables.bootstrap4.min.js"></script>


    
    <script src="../static/js/perfil_horario.js"></script>


    
    <meta charset="utf-8">

</head>

<body>

    <div id="fondo1">

        <a href="../templates/UCABMART.html"><img type="image" id="logo" src="../static/media/UCABMART6.png"></a>

        <div class="linea"></div>

        <div id="loading">
            <img id="loading-image" src="../static/media/loading.gif" alt="Loading..." />
        </div>

        <div id="fondo2">

            <form>
                
                <div id="espacio"></div> 
            
                <div id="fondo3" class="form-group">
                    
                    <div id="margen" class="form-group">

                        <h2> Datos de Horario </h2>

                        <button id="Modificar" class="btn btn-lg btn-secondary" type="button"> Modificar datos </button>
                        
                        <button id="Cancelar" class="btn btn-lg btn-secondary" type="button" style = "display: none;">  Cancelar Modificación </button>

                        <button id="Confirmar" class="btn btn-lg btn-primary" type="submit" style = "display: none;" disabled>  Confirmar Modificación </button>

                                                
                        <div id="margen-campos">
                        
                            <div id="espacio"></div>  

                            <div class="form-row">
                                <div class="form-group col-md-5  pr-5">
                                    <h4>Codigo</h4>  
                                    <input id="id_horario" name= "id_horario" class="form-control" disabled>
                                </div>
                                <div class="form-group col  ">
                                    <h4>Descripcion</h4> 
                                    <input id="inputhorario" name="inputhorario" class="form-control"  type="text" placeholder="Descripcion de la horario" disabled required autofocus>
                                </div>
                            </div>       
                                    
                            <div id="espacio"></div> 

                            <h4 >Dia</h4>
                                
                            <select name="selectdia" id="selectdia" class="custom-select browser-default" disabled required autofocus>
                                <option value="" selected disabled>DIA</option>
                                <option value="LUNES">LUNES</option>                            
                                <option value="MARTES">MARTES</option>   
                                <option value="MIERCOLES">MIERCOLES</option>
                                <option value="JUEVES">JUEVES</option>                            
                                <option value="VIERNES">VIERNES</option>   
                                <option value="SABADO">SABADO</option>  
                                <option value="DOMINGO">DOMINGO</option>          
                            </select> 

                            <div id="espacio"></div>  

                            
                            <div class="form-row">
                                <div class="form-group col">
                                    <h4>Hora Entrada</h4>
                                    <input id="inputhorae" name="inputhorae" class="form-control"  type="time" placeholder="Hora Entrada" disabled required autofocus>
                                </div>
                                <div class="form-group col">
                                    <h4>Hora Salida</h4>
                                    <input id="inputhoras" name="inputhoras" class="form-control"  type="time" placeholder="Hora Salida" disabled required autofocus>  
                                </div>
                            </div>     
                            

                        </div>

                    </div>  
                    

                </div> 

            </form>

        </div>

        
    </div>   

</body>
    
    

</html>