<html>

<head>
    
    <title>UCABMART</title>
    
    <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">   
    <link href="../static/css/perfil_rubro.css" rel="stylesheet" type="text/css" >


    <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>   
    <script src="../static/js/perfil_rubro.js"></script>

    <meta charset="utf-8">

</head>

<body>

    <div id="fondo1">

        <a href="../"><img type="image" id="logo" src="../static/media/UCABMART6.png"></a>

        <div class="linea"></div>

        <div id="loading">
            <img id="loading-image" src="../static/media/loading.gif" alt="Loading..." />
        </div>

        <div id="fondo2">

            <form>
                
                <div id="espacio"></div> 
            
                <div id="fondo3" class="form-group">
                    
                    <div id="margen" class="form-group">

                        <h2> Datos de Rubro </h2>

                        <button id="Modificar" class="btn btn-lg btn-secondary" type="button"> Modificar Datos </button>
                        
                        <button id="Cancelar" class="btn btn-lg btn-secondary" type="button" style = "display: none;">  Cancelar Modificación </button>

                        <button id="Confirmar" class="btn btn-lg btn-primary" type="submit" style = "display: none;" disabled>  Confirmar Modificación </button>

                                                
                        <div id="margen-campos">
                        
                            <div id="espacio"></div>  

                            <div class="form-row">
                                <div class="form-group col-md-5  pr-5">
                                    <h4>Codigo</h4>  
                                    <input id="id_rubro" name= "id_rubro" class="form-control" disabled>
                                </div>
                                <div class="form-group col  ">
                                    <h4>Nombre</h4> 
                                    <input id="inputrubro" name="inputrubro" class="form-control"  type="text" placeholder="Nombre de la Rubro" disabled required autofocus>
                                </div>
                            </div>       
                                    

                           
                           

                        </div>

                    </div>  
                    


                </div> 
                

            </form>

        </div>

        
    </div>   

</body>
    
    

</html>