<html>
    <head>
    <title>UCABMART</title>
    <link rel="stylesheet" type="text/css" href="../static/css/registro_juridico.css">
    <link rel="stylesheet"type="text/css" href="../static/css/bootstrap-4.0.0-dist/css/bootstrap.css">
   
    <script 
        src="../static/js/jquery-1.11.2.js">   
    </script>  

    </head>

    <body>

        <form >        <div id="fondo1">
           
            <input type="image" id="logo" src="../templates/Media/UCABMART7.png" >

            <div class="linea"> </div>

            <div id="fondo2">
            
             <div id="espacio"></div> <!--Demasiado chimbo esto, separa el cuadro rojo del blanco-->
                
                <div id="fondo3">

                    <h1 id="registro"> Registro </h1>

                    <div id="margenes">



                    </div>

                </div>

             </div>

            </div>

        </form>
    </body>

</html>