<!DOCTYPE html>
<html>
    <head>
        <title>UCABMART</title>

        <link rel="stylesheet" type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/registro_tienda.css"  >
        
        <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>
        <script src="../static/js/registro_tienda.js"></script>

        <meta charset="utf-8">
        
    </head> 
    
    <body>
           
       
    <div id="fondo1">     

        <a href="/"><img id="logo" src="../static/media/UCABMART6.png" ></a>

        <div class="linea"></div>        

        <div id="fondo2">

            <form>

                <div id="espacio"></div> 

                <div id="fondo3" class="form-group">
                    
                    <div id="posicion"> 

                        <h2> Registro de Tienda</h2>

                        <div id="espacio2"></div>                     

                        <h4 class="">Nombre de la Tienda </h4>
                        

                        <div class="form-group " id="Tienda"> 
        
                            <input type="text" id="inputtienda" name="inputtienda" class="form-control"  placeholder="Nombre de la tienda" required autofocus>                 

                        </div> 

                        <h4 class="">Dirección de la Tienda </h4>
                                
                            <div class="form-group tamaño " id="Estado"> 

                                <select id="selectestado" name="selectestado" class="custom-select browser-default"  required autofocus>
                                    
                                    <option value="" selected disabled>ESTADO</option>               
                                            
                                </select>  
                        
                            </div> 
                                
                            <div class="form-group tamaño " id="Municipio"> 
                        
                                <select name="selectmunicipio" id="selectmunicipio" class="custom-select browser-default" required autofocus>

                                    <option value="" selected disabled>MUNICIPIO</option>                                                      
                                        
                                </select>  
                        
                            </div>
                        
                            <div class="form-group tamaño " id="Parroquia"> 
                        
                                <select name="selectparroquia" id="selectparroquia" class="custom-select browser-default" required>

                                    <option value="default" selected disabled>PARROQUIA</option>      

                                </select>  
                        
                            </div> 

                        <input id="inputdir" name="inputdir" placeholder="Dirección" class="form-control " required autofocus>
                         
                        
                        <input id="Correo" name="Correo" class="form-control" disabled>

                        <button id="Generarc" class="btn btn-info" type="button"> Generar Correo</button>


                        <h5 class="form-text text-danger">
                            <p id="m_invalido"></p>
                        </h5>   

                        <button id="Registrar" class="btn btn-lg btn-primary" type ="submit">Registrar</button>

                    </div>   

                </div>

            </form>    

        </div>            

    </div>
        
          

    </body>

</html>