    <html>
    <head>
        <title>UCABMART</title>
        
        <link rel="stylesheet"type="text/css" href="../static/add_ons/bootstrap-4.0.0-dist/css/bootstrap.css">

        <link href="../static/css/registro_empleado.css" rel="stylesheet" type="text/css">

        
        <script src="../static/add_ons/jquery/jquery-1.11.2.js"></script>
        <script src="../static/js/registro_empleado.js"></script>

    
        <meta charset="utf-8">
        
    </head> 
    
    <body>
           
        <div id="fondo1">

            <a href="../templates/UCABMART.html"><img type="image" id="logo" src="../static/media/UCABMART6.png"> </a>

            <div class="linea"></div>

            <div id="fondo2">

                <form>                   

                    <div class="espacio"></div> 
                    
                    <div id="fondo3">

                    <div id="margen" class="form-group">

                        <h1 id="registro"> Registro </h1>

                        <div class="espacio"></div>   
                        
                        <input id="inputcedula" name= "inputcedula" class="form-control" placeholder ="Cédula" type="text" pattern="[0-9]*"  minlength="6" maxlength="8" required autofocus>   
                        
                        <input id="inputtelefono" name= "inputtelefono" class="form-control" type="text" pattern="[0-9]*" placeholder="Teléfono 1(Obligatorio)" minlength="7" maxlength="11" required autofocus>

                        <div class="form-group" id="tipotlf"> 
                    
                            <select name="tipotlf" id="tipotlf" class="custom-select browser-default" required autofocus>
                                <option value="" selected disabled>TIPO</option>
                                <option value="CASA">CASA</option>                            
                                <option value="OFICINA">OFICINA</option>   
                                <option value="CELULAR">CELULAR</option>  
                                
                            </select>  
            
                        </div>


                       
                        <div class="espacio"></div>   

                            
                        <input id="inputpnombre" name="inputpnombre" class="form-control" type="text" placeholder ="Primer Nombre" required autofocus>   

                        <input id="inputsnombre" name="inputsnombre" class="form-control" type="text" placeholder ="Segundo Nombre"  autofocus>   

                        <input id="inputpapellido" name="inputpapellido" class="form-control" type="text" placeholder="Primer Apellido" required autofocus> 

                        <input id="inputsapellido" name="inputsapellido" class="form-control" type="text" placeholder="Segundo Apellido"  autofocus> 


                        <div class="espacio">  </div>   

                        <h12 class= "text-muted" id="fecha_h">Fecha de Nacimiento</h12>
                        
                        <div class="form-group" id="fecha">
                             
                              <input id="selectfecha" name="selectfecha" class="custom-select browser-default" type="date" value="2000-03-09" required autofocus >

                        </div>


                        <h12 id="bs" class="text-muted">Bs.</h12>

                        <input id="inputsueldo" name= "inputsueldo" class="form-control" placeholder ="Sueldo" type="text" pattern="[0-9]*"  minlength="2" maxlength="20" required autofocus>

                        


                        <div class="espacio">  </div>
                    
                        <div class="form-group" id="tienda-registro"> 

                            <select id="selecttienda" name="selecttienda" class="custom-select browser-default" required autofocus>
                                <option value="" selected disabled>TIENDA REGISTRO</option>
                            
                            </select>  

                        </div> 

                        <div class="espacio">  </div>  

                        <div class="form-group" id="rolregistro"> 

                            <select id="selectrol" name="selectrol" class="custom-select browser-default" required autofocus>
                                <option value="" selected disabled>ROL</option>
                                <option value="0"> - </option>
                            </select>  

                        </div> 

                        <div class="form-group" id="empsup"> 

                            <select id="selectempsup" name="selectempsup" class="custom-select browser-default" required autofocus>
                                <option value="" selected disabled >SUPERVISOR</option>
                                <option value="0"> - </option>
                            </select>  

                        </div> 




                        <div class="espacio">  </div> 

                        <input id="inputcorreo" name="inputcorreo" class="form-control" type="email" 
                        pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" 
                        placeholder="Correo Electrónico" required autofocus>

                        <div class="espacio"> </div>   

                        <input id="inputcont" name="inputcont" class="form-control" type="password"  placeholder="Contraseña" minlength="8" maxlength="16" required autofocus>
                        
                        <input id="inputcontval" name="inputcontval"  class="form-control" type="password"  placeholder="Verifique Contraseña" minlength="8" maxlength="16" required autofocus> 

                        <div class="espacio"> </div> 

                        <button id="Registrar" class="btn btn-lg btn-primary" type="submit">  Registrar    </button>

                    </div>

                    </div>
                
                
                </form>

            </div> 

        </div>

    </body>

</html>