body{
    padding-bottom: 40px;
    padding-top: 40px;
    background: linear-gradient(to left, #1107d3,#3dd2fffd);  
    position: relative;
    height: 1100px;
    padding-left: 40px;
    padding-right: 40px;
    transform: scale(0.7);
    transform-origin: top center;
}

#fondo1{
    background-color:rgba(245, 244, 244, 0.967);
    width: 1070px;    
    height: 800px;
    border-radius: 5px 5px 5px 5px;
    border: 0px #80808000 solid;

    position: relative;
    margin: 0 auto; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#logo{
    height: 100px;
    width:50%;
    position: relative;
    right: -270px;
    top:10px;

}
.linea{
    position: relative;
    top:20px;
    background-color:black;
    height: 4px;
    width: 1070px;

}
#fondo2{
    background: linear-gradient(#f8176d, #eb7b7b); 
    width: 1070px;
    height: 850px;
    position: relative;
    top: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 3px rgba(128, 128, 128, 0) solid;
}
#fondo3{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: 800px;
    width:1016px;
    border-radius: 5px 5px 5px 5px;
    border: 3px grey solid;   
}

#fondo4{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: 800px;
    width:1016px;
    border-radius: 5px 5px 5px 5px;
    border: 3px grey solid;   
}


#espacio{
    height: 20px;
    
}
#titulo{
    position: relative;
    right: -240px;
    
}

#titulo2{
    text-decoration: underline;
}
    
    
#margen{    
    margin-left: 100px;
    margin-top: 50px; 
    width:800px;    
    
}
 

/*tabla datatable*/

#tabla_carrito{
    
    position: relative;
    top: 0px;
    right: 0px;
    
    padding-bottom: 40px;
}
