#fondo1{
    background-color: rgb(166, 207, 253);
    width: 1270px;
    
    height: 1000px;
}
body{
    margin: 0;
    padding: 0;
    
}
#logo{
    height: 100px;
    width: 400px;
    position: relative;
    right: -420px;
    top:10px

}
.linea{
    position: relative;
    top:20px;
    background-color:black;
    height: 4px;
    width: 1270px;

}
#fondo2{
    background-color: rgb(201, 169, 169);
    width: 1270px;
    height: 1500px;
    position: relative;
    top: 4px;
}
#fondo3{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: 1300px;
    width:1216px;
    border-radius: 5px 5px 5px 5px;
    border: 3px grey solid;
}
#margen{
    margin-left: 150px;
    margin-top: 80px;
    padding: auto;
}

#espacio{
    height: 4px;
    width: 1270px;
}
h2{    
    text-decoration: underline;
}
#Editar1{
    border-radius: 3px 3px 3px 3px;
    border: 1px black groove;
    position: relative;
    right: -435px;
    top: -30px;     
}
#Editar2{
    border-radius: 3px 3px 3px 3px;
    border: 1px black groove;
    position: relative;
    right: -435px;
    top: -30px;     
}
#Editar3{
    position:relative;
    right: -200px;
    top: -80px;
}
#botones-eliminar{
    background-color: white;
}

#Margen-campos{
    margin-top: 50px;

}
#id_user{
    width: 250px;

}
#cedula{
    position: relative;
    right: -500px;
    top:-80px;
}
#inputcedula{
    width: 250px;
    position: relative;
    right: -505px;
    top: -75px;
}
#inputtelefono{
    width: 250px;
    position: relative;
}
#tipotlf1{
    position: relative;
    top: -1px;
    right: -75px;
    width: 100px;
}
#inputtelefono2{
    width: 250px;
    position: relative;
    top:-92px;
    right: -255px;
}
#tipotlf2{
    position: relative;
    top: -46px;
    right: -202px;
    width: 100px;
}
#inputtelefono3{
    width: 250px;
    position: relative;
    top: -184px;
    right: -510px;
}
#tipotlf3{
    position: relative;
    top: -92px;
    right: -330px;
    width: 100px;
}
#Alinear{
    position: relative;
    top: -170px;

}
#inputpnombre{
    width: 250px;  
}
#inputsnombre{
    width: 250px;
    position: relative;
    top: 5px;
}
#Apellido{
    position: relative;
    top: -115px;
    right: -505px;
}
#inputpapellido{
    width: 250px;
    position: relative;
    top: -110px;
    right: -505px;
}
#inputsapellido{
    width: 250px;
    position: relative;
    top: -105;
    right: -505;
}
#tienda-registro{
    position: relative;
    top: -70px;
}
#tiendaregistro{
    width: 400px;
    position: relative;
    top: -65px;
}
#rif{
    position: relative;
    top:-292px;
    right: -505px;
}
#inputrif{
    width:250px;
}
#correo{
    position: relative;
    top: -30px;
}
#inputcorreo{
    width: 400px;
    position: relative;
    top: -20px;
}
#contraseña{
    position: relative;
    top: -101px;
    right: -505px;
}
#inputcont{
    width: 250px;
    position: relative;
    top: 5px;
}

#Combo-boxes{
    position: relative;
    top: -130px;
}
#Estado{
    width: 300px;    
}
#Municipio{
    width: 300;
    position: relative;
    top: -54px;
    right: -270px;
}
#Parroquia{
    width: 300;
    position: relative;
    top:-109px;
    right: -530px;
}
#inputdir{
    width: 758px;
    position: relative;
    top: -80px;

}


