#fondo1{
    background-color: rgb(166, 207, 253);
    width: 1270px;
    height: 1000px;
}
body{
    margin: 0;
    padding: 0;
    
}
#logo{
    height: 100px;
    width: 100px;
    position: relative;
    right: -590px;
    top:10px

}
.linea{
    position: relative;
    top:20px;
    background-color:black;
    height: 4px;
    width: 1270px;

}
#fondo2{
    background-color: rgb(226, 43, 43);
    width: 1270px;
    height: 1000px;
    position: relative;
    top: 20px;
}
#fondo3{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: 800px;
    width:1216px;
    border-radius: 5px 5px 5px 5px;
    border: 3px grey solid;
}
#espacio{
    height: 4px;
    width: 1270px;
}



#registro{
    position: relative;
    right: -345px;
    text-decoration: underline;
}


#margenes{
    position: relative;
    right: -100px;   
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
#margenes2{
    position: relative;
    right: -125px;  
}




#perfil-juri{
    position: relative;
    right: -250px;
}

#circulo-margen{
   margin-right: 55px;

}
#margen{
    margin-left: 200px;
    margin-top: 50px;
    padding: auto;
}

#cedula-caja{    
    position: relative;
    right: -90px;
    top:76px;
    width: 200px;
}
#Telefono-caja{
    position: relative;
    right: -480px;
    top:38px;
    width: 200px;
}
#Nombre-caja{
    margin-top: 20px;
    position: relative;
    right: -90px;
    top:40px;
    width: 200px;
}
#Apellidos-caja{
    margin-top:20px;
    position: relative;
    right: -480px;
    top:-78px;
    width: 200px;
}
#tienda-registro{
    position: relative;
    right: -90px;
    top: -20px;
    width: 787px;
}

#Correo-caja{
    position: relative;
    right: -90px;
    top:-20px;
    width: 590px;
}



#cedula-caja{    
    position: relative;
    right: -90px;
    top:76px;
    width: 200px;
}
#Telefono-caja{
    position: relative;
    right: -480px;
    top:38px;
    width: 200px;
}

#Contrasena-caja{
    position: relative;
    right: -90px;
    top:20px;
    width: 200px;
}
#valiContrasena-caja{
    position: relative;
    right:-480px;
    top:-20px;
    width:200px;
}

#Continuar{ 
    width: 150px;
    height: 45px;
    position: relative;
    top:40px;
    right:-528px;
    border: 2px black solid;
    border-radius: 3px 3px 3px 3px;
}
#Continuar:hover{
    box-shadow: 2px 2px 5px #999;
}
#fondo4{ 
    display:none;       
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    height: 800px;
    width:1216px;
    border-radius: 5px 5px 5px 5px;
    border: 3px grey solid;   
}
#margen2{
    margin-left: 200px;
    margin-top: 50px;
    padding: auto;
}
#Telefono-caja2{
    width: 200px;
    position: relative;
    right: -100px;
    top:39px
}
#Telefono-caja3{
    width: 200px;
    position: relative;
    right: -490px;
}
#RIF{
    width: 200px;
    position: relative;
    right: -100px;
    top:30px;
}
#Combo-boxes{
    position: relative;
    right: -100px;
    top:80px;
    width: 300px;
    
}

#Parroquia{
    width: 230px;
    position: relative;
    right: 0px;
    top:0px;
}

#Municipio{
    position: relative;
    right: -209px;
    top:-55px;
    width: 230px;
}
#Estado{
    position: relative;
    right: -418px;
    top:-110px;
    width: 230px;
}


#Calle{
    width: 450px;
    position: relative;
    right: -2px;
    top:-65px;
}
#Apartamento{
    width: 100px;
    position: relative;
    right: -490px;
    top: -104px;
}
#registrar{ 
    width: 150px;
    height: 45px;
    position: relative;
    top:40px;
    right:-386px;
    border: 2px black solid;
    border-radius: 3px 3px 3px 3px;
}
#registrar:hover{
    box-shadow: 2px 2px 5px #999;
}
#regresar{ 
    width: 150px;
    height: 45px;
    position: relative;
    top:40px;
    right:-380px;
    border: 2px black solid;
    border-radius: 3px 3px 3px 3px;
}
#regresar:hover{
    box-shadow: 2px 2px 5px #999;
}


